.button {
    border-radius: 4px;
    padding: 12px 20px;
    border-width: 2px;
    border-style: solid;
    color: white;
    font-size: 11px;
    font-weight: 300;
}

.button-default {
    --base-color: #000000;
    --flat-color: #F6F7F8;
    background-color: var(--base-color);
    border-color: var(--base-color);

}

.button-primary {
    --base-color: #33A0FF;
    --flat-color: #EAF5FF;
    background-color: var(--base-color);
    border-color: #33A0FF;

} 
.button-primary:hover {
    filter: brightness(90%);
} 

.button-danger {
    --base-color: #FF4858;
    --flat-color: #FFECEE;
    background-color: var(--base-color);
    border-color: #FF4858;

} 
.button-danger:hover {
    filter: brightness(90%);
} 

.button-success {
    --base-color: #0AD00A;
    --flat-color: #E6FAE6;
    background-color: var(--base-color);
    border-color:  #0AD00A;
}
.button-success:hover {
    filter: brightness(90%);
}
  

.button-warning {
    --base-color: #FCC400;
    --flat-color: #FBF5E1;
    background-color: var(--base-color);
    border-color:  #FCC400;
} 
.button-warning:hover {
    filter: brightness(90%);  
}

.clean {
    background-color: #ffffff;
    color: var(--base-color)
}

.flat {
    background-color: var(--flat-color);
    color: var(--base-color);
    border: none;
}

.large {
    padding: 15px 25px;
    font-size: 12px;
}




