.thumb-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    width: 500px;
    height: 200px;
    border: 4px solid #FAFAFB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.thumb-container-borderless {
    padding-top: 20px;
    border: none;
    align-items: flex-start;
}

.thumb-container-inline {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    width: 650px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.thumb-horizontal:hover {
    background-color: #FAFAFB;
}

.thumb-vertical {
    width: 220px;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}

.thumb-content {
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.thumb-content-vertical {
    width: 90%;
    height: 30%;
    margin-top: 20px;
    border-top: 1px solid #F6F7F8;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
}

.thumb-content-vertical-flat {
    border-top: 1px solid #E5E8EA;
}

.thumb-content-borderless {
    padding-top: 10px;
}

.thumb-content-inline {
    height: 96%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.thumb-inline-buttons {
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.thumb-hover-icons {
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-70px);
}

.thumb-hover-icon-container {
    width: 30px;
    height: 30px;
    border: 2px solid #C3DFF6;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.thumb-hover-icon-container-flat {
    background-color: #33A0FF;
    border: none
}

.thumb-vertical:hover .thumb-hover-icons {
    opacity: 1;
}

.thumb-vertical:hover .thumb-image {
    opacity: 5%;
}
.thumb-image{
    width: 200px;
}

.thumb-image-inline {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 3px solid #FAFAFB;
    padding: 5px 5px 35px 5px;
    
}

.stars-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.stars-container-vertical {
    width: 30%;
}

.stars-container-inline {
    width: 28%;
}

.thumb-stars-inline-container {
    width: 320px;
    border-bottom: 2px solid #FAFAFB;
}

.thumb-stars-inline {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 8px;

    
}

.thumb-prices {
    display: flex;
    justify-content: flex-start;

    font-size: 13px;
}

.thumb-prices-inline {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.thumb-current-price {
    color: #FF4858;
    
}

.thumb-previous-price {
    color: #C1C8CE;
    padding-left: 10px;
    text-decoration-color: #5D656B;
    text-decoration-line: line-through;
}

.thumb-flat {
    background-color: #FAFAFB;
}

.thumb-inline-a {
    color: #33A0FF;
    text-decoration: none;
}

.thumb-inline-title {
    font-size: 18px;
}

.thumb-inline-total-reviews {
    color: #C1C8CE;
}

.thumb-inline-description {
    width: 400px;
    font-size: 10px;
    line-height: 2;
    
}