.form {
    font-family: Arial, Helvetica, sans-serif;
}


.input {
    width: 225px;
    border-color: #F1F3F4;
    border-style: solid;
    border-radius: 4px;
    padding: 7px 5px;
    font-size: 15px;
}

p {
    margin: 4px 0;
}

.form-medium {
    font-size: 16px;
    padding: 10px 5px;
}

.form-large {
    font-size: 16px;
    padding: 15px 5px;
}


.select{
    background-image: url(../Icons/select_arrow.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    appearance: none;
    opacity: 1;
}

.select:focus {
    outline: none;
}



.form-filled {
    background-color: #F1F3F4;
}

.numCounter {
    width: 100px;
}

.button-input {
    display: flex;
    justify-content: flex-start;
}